.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 5px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    border-radius: 5%;
    box-shadow: 0.1px 0.1px 0.1px black;

}

.product > img{
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}


.product > button{
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product__price{
    margin-top: 1px;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
    text-align: center;
  }