.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product > img{
    max-height: 400px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button{
    background: #e22c2c;
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    color: rgb(255, 255, 255);
}

.product__price{
    margin-top: 5px;
}

.product__info{
    width: 100%;
    margin-bottom: 15px;
}