.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f0ebeb;
    border: 1px solid #dddddd;
    border-radius: 3px;
}


.subtotal > button{
    background: #fc3636;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #dddddd #fc3636 #111;
    color:#111
}
